<!DOCTYPE html>
<html>
<head>
    <title>View Candidates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

<div class="login-box">
    <h2>All Candidates</h2>

    <table border="1" width="100%" cellpadding="8" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Party</th>
        </tr>

        {% for c in candidates %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] or '-' }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</div>

</body>
</html>
